<div class="containerr">
  <h2>FAQs</h2>
  <div class="accordion">
    <div class="accordion-item">
      <button id="accordion-button-1" aria-expanded="false"><span class="accordion-title">What is MediGo?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>MediGo is a web hosted pharmacy marketplace for chemists/druggists where they can browse and buy things like medicines, medical equipments, personal care products, baby care products, COVID essentials etc.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-2" aria-expanded="false"><span class="accordion-title">Who are the intended clients?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>We deal with n number of chemists as well as druggists and we look forward to add a larger bunch of audience to our bucket while ensuring to serve them with the best of the services from our end.
        </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-3" aria-expanded="false"><span class="accordion-title">Are multiple brands available in MediGo?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Yes, we offer products from multiple brands ranging from Abott, Novartis, Sugar Free, Glenmark, Cipla, Apollo and many others .</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-4" aria-expanded="false"><span class="accordion-title">How does MediGo ensures public welfare?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>We host multiple campaigns, try to generate public awareness, have included covid essentials as a basic category to ensure the easy availability and larger reach to as many people as possible. We keep on adding little things from our side to make sure that correct messages are being delivered to our audience.</p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">Do we support multiple payment options?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>MediGo believes in providing ease to its clients. Keeping that in mind, our Payment Partners cover Paytm, PhonePe, Gpay, Rupay, Visa, Mastercard, MobiKwik. </p>
      </div>
    </div>
    <div class="accordion-item">
      <button id="accordion-button-5" aria-expanded="false"><span class="accordion-title">When are we available?</span><span class="icon" aria-hidden="true"></span></button>
      <div class="accordion-content">
        <p>Reach out to us anytime. We are here for you 24*7. </p>
      </div>
    </div>
  </div>
</div>
