/* Variables */
// COLOR THEMES
$theme-color:#106EEA;
$theme-color-hover:#3b8af2;
$black-nav:#222222;
$black-top:#222222;
$black-top2:#555555;
$black-body:#444444;
$theme-grey:#F1F6FE;
$dark-blue-text:#062B5B; // (to be used with theme gray )
$theme-light-grey:#F6F9FE;
$grey-text-contactus:#777777;

// FONT THEMES
$font-heading:Montserrat;
$easing: cubic-bezier(1,.015,.295,1.225);

/* Cards Icon */
.containerr{
  height:20rem;
}
.icon-cards {
	position: relative;
  margin: 10rem 65rem;
	width: 200px;
	height: 180px;
	transform: translate(-50%,-50%);
	perspective: 1000px;

	/* This rotates with the animation */

	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		transform-style: preserve-3d;
		transform: translateZ(-145px) rotateY(0);
		animation: carousel 10s infinite cubic-bezier(1,.015,.295,1.225) forwards;
	}

	/* Individual cards */

	&__item {
		position: absolute;
		top: 0;
		left: 0;
		width: 180px;
		height: 150px;
		background:$theme-color-hover;
		opacity: .9;
    font-size: 1.5rem;
		border-radius: 6px;

		@for $i from 1 to 6 {
			&:nth-child(#{$i}) {
				transform: rotateY($i * 72deg) translateZ(145px);
			}
		}
    p{
      margin:5rem .5rem 0rem .5rem;
      text-align: center;
      font-weight: bold;
      color: $black-nav;
      opacity: 1;
    }
    i{
      text-align: center;
      font-size: 5rem;
      color:$theme-light-grey;
      width: 100%;
    }
	}
}

/* Animation */

@keyframes carousel {
	0%,  15% { transform: translateZ(-145px) rotateY(0); }
	25%, 40% { transform: translateZ(-145px) rotateY(-72deg); }
	50%, 65% { transform: translateZ(-145px) rotateY(-144deg); }
	75%, 90% { transform: translateZ(-145px) rotateY(-216deg); }
}

/* Demo only */

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	background: #fff;
}
