<div class="containerr">
  <div class="icon-cards">
    <div class="icon-cards__content">
      <div class="icon-cards__item">
        <p>
          Clean your hands often
        </p>
        <i class="fas fa-hands-wash"></i>
      </div>
      <div class="icon-cards__item">
        <p>
          Avoid close contact
        </p>
        <i class="fas fa-people-arrows"></i>
      </div>
      <div class="icon-cards__item">
        <p>
          Stay home if you’re sick
        </p>
        <i class="fas fa-house-user"></i></div>
      <div class="icon-cards__item">
        <p>
          Cover coughs and sneezes
        </p>
        <i class="fas fa-head-side-cough-slash"></i>
      </div>
      <div class="icon-cards__item">
        <p>
          Wear a facemask if you are sick
        </p>
        <i class="fas fa-head-side-mask"></i>
      </div>
    </div>
  </div>
</div>

