<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Featured</h2>
      <h3>What we <span>Provide</span></h3>
    </div>

    <div class="row">
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-truck"></i></div>
          <h4><a href="">Fast Shipping</a></h4>
          <p>Get your unlimited offers with superfast delivery on MediGo</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-rupee"></i></div>
          <h4><a href="">Easy Payment</a></h4>
          <p>All payment partners for easy-to-use, fast and secure ways of payment</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-calendar"></i></div>
          <h4><a href="">24 x 7 Availability</a></h4>
          <p>Services are constantly pharmacy delivery at all time for user comfort</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in" data-aos-delay="100">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-bookmark"></i></div>
          <h4><a href="">Since 1996</a></h4>
          <p>MediGo consistently focuses on customer delight and satisfaction</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-users"></i></div>
          <h4><a href="">Happy Clients</a></h4>
          <p>It takes months to find a customer.. seconds to lose one..</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-shopping-cart"></i></div>
          <h4><a href="">Order Efficiency</a></h4>
          <p>Proper management of orders and their shipping are taken care of</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-money"></i></div>
          <h4><a href="">Free Delivery</a></h4>
          <p>The wait is over!! Order anything with 0/- delivery charges. Have unlimited orders and save on each of them</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
        <div class="icon-box">
          <div class="icon"><i class="fa fa-handshake-o"></i></div>
          <h4><a href="">User Friendly</a></h4>
          <p>MediGo never have sole objective of making money. We always follow quality and customer satisfaction first</p>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Services Section -->
