<div class="wrapper">
  <div class="product-card">
    <div class="image">
      <a href="" routerLink="/product-detail">
        <img src="/assets/product-page/babycare1.png" alt="">
      </a>

    </div>
    <div class="discount">
      <span>91%</span>
    </div>
    <div class="caption">
      <div class="name">
        <a>Seacod 110 Cod Liver Oil Capsules Bottle Of 110</a>
      </div>
      <div class="price">
        <span class="price-new">Rs. 272.77</span>
        <span class = "price-old">Rs. 320.9</span>
      </div>
    </div>
    <div class="add-to-cart">

      <button class = "btn-cart">
        <!-- <fa-icon [icon]="faCartPlus"></fa-icon> -->
        <i class="fas fa-cart-plus"></i>
        <!-- <i>
          <img src="../../../../assets/images/cart-plus-solid.svg" alt="">
        </i> -->
        ADD TO CART</button>
    </div>
  </div>
</div>



