<section id="banner" class="d-flex align-items-center">
  <div class="container" >
    <h1 data-aos="zoom-out" data-aos-delay="200">Greetings from Medi<span>Go</span></h1>
    <h5 data-aos="zoom-out" data-aos-delay="200">We welcome you to mediGo, the medicine center with high-quality service and consistently good customer experience. </h5>
    <div class="d-flex" data-aos="zoom-out" data-aos-delay="200">
      <a routerLink="/about" class="btn-get-started scrollto">Discover More</a>
    </div>
  </div>
</section>
