
<h1 class="title">Novel Coronavirus (COVID-19) Live Tracker India</h1>
<div class="container">
  <!-- Card stats -->
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Total Cases</h5>
        <span class="h2 font-weight-bold total_cases color-red count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
        <i class="fa fa-users"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Deaths</h5>
        <span class="h2 font-weight-bold deaths color-blue count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
        <i class="fa fa-heartbeat"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Recovered</h5>
        <span class="h2 font-weight-bold recovered color-green count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
        <i class="fa fa-stethoscope"></i>

      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">New Cases Today</h5>
        <span class="h2 font-weight-bold new_cases color-orange count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
        <i class="fa fa-bell"></i>
      </div>
    </div>
  </div>
</div>

<!-- for mobile -->
<div class="container-mobile-a">
  <!-- Card stats -->
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Total Cases</h5>
        <span class="h2 font-weight-bold total_casess color-red count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
        <i class="fa fa-users"></i>
      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Deaths</h5>
        <span class="h2 font-weight-bold deathss color-blue count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-blue text-white rounded-circle shadow">
        <i class="fa fa-heartbeat"></i>
      </div>
    </div>
  </div>
</div>
<div class="container-mobile-b">
  <!-- Card stats -->
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">Recovered</h5>
        <span class="h2 font-weight-bold recoveredd color-green count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
        <i class="fa fa-stethoscope"></i>

      </div>
    </div>
  </div>
  <div class="card card-stats">
    <!-- Card body -->
    <div class="card-body">
      <div class="col">
        <h5 class="card-title text-uppercase text-muted">New Cases</h5>
        <span class="h2 font-weight-bold new_casess color-orange count">0</span>
      </div>
      <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
        <i class="fa fa-bell"></i>
      </div>
    </div>
  </div>
</div>
