*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$theme-color:#106EEA;
$black-nav:#222222;
$black-top2:#555555;
$black-body:#444444;
$theme-grey:#F1F6FE;
$dark-blue-text:#062B5B ;
$theme-light-grey:#F6F9FE;
$grey-text-contactus:#777777;

$font-heading:Montserrat;
$font-body:Poppins;



*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-heading;
  background-color:$theme-grey;
  z-index: -2;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Montserrat Light";
}

$contW: 900px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.cont-out{
  height: 100%;
  width: 100%;
  background-color: $theme-grey
}

.alert-danger {
  background-color: white !important;
  color: #FF0000 !important;
  font-weight: 500;
  margin-top:0.5rem;
}

.requiredField {
  color: #FF0000 !important;
  opacity: 0.7;
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 900px;
  margin: 0 auto 100px;
  background: #fff;
  margin-top:8rem;
  padding-top:2rem;
  background-color: white;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  opacity: .9;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 900px;
  padding-left: $imgW;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: 600;
      font-family: $font-heading;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH*-2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4rem;
  font-family: $font-heading;
  opacity: .95;
}

label {
  display: block;
  width: $inputW;
  height:50px;
  margin: 28px auto 0;
  text-align: left;
  opacity: .9;

  span {
    font-size: 12px;
    color: $grey-text-contactus;

  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: left;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #888686;
}
.color-medigo{
  color:$theme-color;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: $theme-color;
  text-transform: uppercase;
  font-weight: 600;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

#mobileLoginSignup {
   margin-top: 9rem;
   display: none;
}

.hideSignIn {
  display: none;
}

.hideSignUp {
  display: none;
}

@media screen and (min-width:300px) and (max-width:667px)
{
  #mobileLoginSignup {
    display: block;
  }
  *, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

$theme-color:#106EEA;
$black-nav:#222222;
$black-top2:#555555;
$black-body:#444444;
$theme-grey:#F1F6FE;
$dark-blue-text:#062B5B ;
$theme-light-grey:#F6F9FE;
$grey-text-contactus:#777777;

$font-heading:Montserrat;
$font-body:Poppins;



*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-heading;
  background-color:$theme-grey;
  display:none;
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: "Montserrat Light";
}

$contW: 650px;
$imgW: 260px;
$formW: $contW - $imgW;
$switchAT: 1.2s;

$inputW: 260px;
$btnH: 36px;

$diffRatio: ($contW - $imgW) / $contW;

@mixin signUpActive {
  .cont.s--signup & {
    @content;
  }
}

.cont-out{
  height: 100%;
  width: 100%;
  background-color: $theme-grey
}

.cont {
  overflow: hidden;
  position: relative;
  width: $contW;
  height: 900px;
  margin: 0 auto 100px;
  background: #fff;
  margin-top:8rem;
  padding-top:2rem;
  background-color: white;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  opacity: .9;
}

.form {
  position: relative;
  width: $formW;
  height: 100%;
  transition: transform $switchAT ease-in-out;
  padding: 50px 30px 0;
}

.alert-danger {
  background-color: white !important;
  color: #FF0000 !important;
  font-weight: 500;
  margin-top:0.5rem;
}

.sub-cont {
  overflow: hidden;
  position: absolute;
  left: $formW;
  top: 0;
  width: $contW;
  height: 900px;
  padding-left: $imgW;
  background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/connected.png");
  transition: transform $switchAT ease-in-out;

  @include signUpActive {
    transform: translate3d($formW * -1,0,0);
  }
}

button {
  display: block;
  margin: 0 auto;
  width: $inputW;
  height: $btnH;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}


.img {
  overflow: hidden;
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: $imgW;
  height: 100%;
  padding-top: 360px;

  &:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: $contW;
    height: 100%;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/sections-3.jpg');
    background-size: cover;
    transition: transform $switchAT ease-in-out;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
  }

  @include signUpActive {
    &:before {
      transform: translate3d($formW,0,0);
    }
  }

  &__text {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: #fff;
    transition: transform $switchAT ease-in-out;

    h2 {
      margin-bottom: 10px;
      font-weight: 600;
      font-family: $font-heading;
    }

    p {
      font-size: 14px;
      line-height: 1.5;
    }

    &.m--up {

      @include signUpActive {
        transform: translateX($imgW*2);
      }
    }

    &.m--in {
      transform: translateX($imgW * -2);

      @include signUpActive {
        transform: translateX(0);
      }
    }
  }

  &__btn {
    overflow: hidden;
    z-index: 2;
    position: relative;
    width: 100px;
    height: $btnH;
    margin: 0 auto;
    background: transparent;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;

    &:after {
      content: '';
      z-index: 2;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 2px solid #fff;
      border-radius: 30px;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      transition: transform $switchAT;

      &.m--in {
        transform: translateY($btnH*-2);

        @include signUpActive {
          transform: translateY(0);
        }
      }

      &.m--up {
        @include signUpActive {
          transform: translateY($btnH*2);
        }
      }
    }
  }
}

h2 {
  width: 100%;
  font-size: 26px;
  text-align: center;
  font-weight: 600;
  margin-bottom: 4rem;
  font-family: $font-heading;
  opacity: .95;
}

label {
  display: block;
  width: $inputW;
  margin: 25px auto 0;
  text-align: left;
  opacity: .9;

  span {
    font-size: 12px;
    color: $grey-text-contactus;

  }
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0,0,0,0.4);
  text-align: left;
}

.forgot-pass {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #888686;
}
.color-medigo{
  color:$theme-color;
}

.submit {
  margin-top: 40px;
  margin-bottom: 20px;
  background: $theme-color;
  text-transform: uppercase;
  font-weight: 600;
}

.fb-btn {
  border: 2px solid #d3dae9;
  color: darken(#d3dae9, 20%);

  span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
  }
}

.sign-in {
  transition-timing-function: ease-out;

  @include signUpActive {
    transition-timing-function: ease-in-out;
    transition-duration: $switchAT;
    transform: translate3d($formW,0,0);
  }
}

.sign-up {
  transform: translate3d($contW * -1,0,0);

  @include signUpActive {
    transform: translate3d(0,0,0);
  }
}

#mobileLoginSignup {
   margin-top: 9rem;
   margin-bottom: 5rem;
}

.hideSignIn {
  display: none;
}

.hideSignUp {
  display: none;
}

.toggleSignInSignUp {
   color:#909091;
   font-size: 1.2rem;
   width: fit-content;
   margin-left: 5rem;
  //  margin-bottom: 5rem;
   opacity: 0.9;
}

}
