// COLOR THEMES
$theme-color:#106EEA;
$theme-color-hover:#3b8af2;
$black-nav:#222222;
$black-top:#222222;
$black-top2:#555555;
$black-body:#444444;
$theme-grey:#F1F6FE;
$dark-blue-text:#062B5B; // (to be used with theme gray )
$theme-light-grey:#F6F9FE;
$grey-text-contactus:#777777;

body {
  font-size: 17px;
  padding: 8px;
  font-family: Montserrat;
}

* {
  box-sizing: border-box;
}

.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container {
  background-color: $theme-grey;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
  margin-top: 6.5rem;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 1.25rem;
}

label, h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  display: block;
}

h3{
  font-size: 2.5rem;
  margin-top: 2rem;
}


.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;

  i{
    font-size: 4rem;
    padding: 0rem 1rem 1rem 0rem;
  }
}

.btn {
  background-color: $theme-color;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
  font-weight: bold;
}

.btn:hover {
  background-color: $theme-color-hover;
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid $theme-grey;
}

span.price {
  float: right;
  color:$theme-grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
