<!-- ======= Testimonials Section ======= -->
<section id="testimonials" class="testimonials">
  <div class="container" data-aos="zoom-in">

    <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="../../assets/homepage/testimonial-icon.png" class="testimonial-img " alt="">
            <h3>Rachel</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Really great service. Looking forward to order more products in future.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="../../assets/homepage/testimonial-icon-2.png" class="testimonial-img" alt="">
            <h3>Joey</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Amazing staff. Flexible payment options. Held customer at ease !!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="../../assets/homepage/testimonial-icon-3.png" class="testimonial-img" alt="">
            <h3>Ross</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Such wide brand collections and medicine available. One stop to order for pharmacy businesses !
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="../../assets/homepage/testimonial-icon-4.png" class="testimonial-img" alt="">
            <h3>Phoebe</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Amazing interface. Easy to use and explore. Found it amazing to buy for my business.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

        <div class="swiper-slide">
          <div class="testimonial-item">
            <img src="../../assets/homepage/testimonial-icon-5.png" class="testimonial-img" alt="">
            <h3>Chandler</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Recommended to fellow chemists and druggists. Go MediGo !
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div><!-- End testimonial item -->

      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</section><!-- End Testimonials Section -->
