<section id="team" class="team section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h3> Team</h3>
      <p>Have a look at MediGo family</p>
    </div>
  </div>

<div class="cards">


  <div class="card">
    <span class="close"></span>
    <span class="arrow"></span>
    <article>
      <h2>Abhinav</h2>
      <div class="title">MediGo Member</div>
      <div class="pic"><img src="../../assets/homepage/abhinav.jpg"></div>
      <div class="desc">Abhinav believes, "Where there is a will, there is a way"</div>
    </article>
  </div>


  <div class="card">
    <span class="close"></span>
    <span class="arrow"></span>
    <article>
      <h2>Diwanshi</h2>
      <div class="title">MediGo Member</div>
      <div class="pic"><img
          src="../../assets/homepage/diwanshi.jpg">
      </div>
      <div class="desc">Diwanshi believes, "Where there is a will, there is a way"</div>
    </article>
  </div>

  <div class="card">
    <span class="close"></span>
    <span class="arrow"></span>
    <article>
      <h2>Rahul</h2>
      <div class="title">MediGo Member</div>
      <div class="pic"><img
          src="../../assets/homepage/rahul.jpg">
      </div>
      <div class="desc">Rahul believes, "Where there is a will, there is a way"</div>
    </article>
  </div>

  <div class="card">
    <span class="close"></span>
    <span class="arrow"></span>
    <article>
      <h2>Anchal</h2>
      <div class="title">MediGo Member</div>
      <div class="pic"><img src="../../assets/homepage/anchal.jpg"></div>
      <div class="desc">Anchal believes, "Where there is a will, there is a way"</div>
    </article>
  </div>

  <div class="card">
    <span class="close"></span>
    <span class="arrow"></span>
    <article>
      <h2>Mridul</h2>
      <div class="title">MediGo Member</div>
      <div class="pic"><img src="../../assets/homepage/mridul.jpg"></div>
      <div class="desc">Mridul believes, "Where there is a will, there is a way"</div>
    </article>
  </div>
  </div>
  </section>
